@charset "UTF-8";
@-webkit-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-moz-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-ms-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-o-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes lozenge {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    transform: rotate(230deg); } }
@-moz-keyframes lozenge {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    transform: rotate(230deg); } }
@-ms-keyframes lozenge {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    transform: rotate(230deg); } }
@-o-keyframes lozenge {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    transform: rotate(230deg); } }
@keyframes lozenge {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    transform: rotate(230deg); } }
@-webkit-keyframes appears {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes appears {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes appears {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes appears {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes appears {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  font-family: 'Dosis', sans-serif;
  font-size: 10px; }

::selection {
  background-color: #A50249;
  color: #fff; }

span, b, i {
  font-size: inherit;
  font-weight: 600; }

body {
  transition: .3s;
  font-size: 10px; }

#acessibility {
  display: flex;
  width: 100%;
  padding: 5px 0;
  background-color: #7EB5D8; }
  #acessibility i {
    display: inline-block;
    margin: 0 10px; }
  #acessibility ul {
    margin: auto; }
  #acessibility li {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 100, 0.2);
    font-size: 1rem;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    #acessibility li:hover {
      text-decoration: underline; }
    #acessibility li:last-child {
      border: 0; }

#toTop {
  display: none;
  padding: auto;
  padding: 8px 10px;
  background-color: #fff;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #7EB5D8;
  font-size: 2em;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  border: 2px solid #fff;
  z-index: 10; }
  #toTop:hover {
    border-color: #7EB5D8; }
  #toTop i {
    display: block; }

.wrapper {
  width: 86%;
  margin: auto;
  padding: 0 2%; }

main {
  width: 100%;
  display: table;
  margin-top: 70px; }

#menuFix {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 100; }

#menuFix > nav > div > div.siteNav-right > ul > li:nth-child(1) > i {
  margin: 0; }

nav {
  width: 100%;
  background: #fff;
  display: flex;
  padding: 5px 0 0 0;
  flex-wrap: nowrap;
  box-shadow: 0 0 15px #EE84B3; }
  nav a {
    text-decoration: none; }
  nav ul {
    display: table; }
    nav ul li {
      padding: 10px 10px;
      font-size: 1.6rem;
      cursor: pointer;
      border-bottom: 3px solid #fff;
      transition: .3s;
      display: inline-flex;
      color: #DC367F; }
      nav ul li:hover {
        border-bottom-color: #DC367F; }
      nav ul li i {
        margin: 0 10px 0 0; }
  nav .wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between; }
    nav .wrapper .siteNav-middle {
      width: 12%; }
      nav .wrapper .siteNav-middle h1 {
        text-align: center;
        font-size: 3em;
        font-family: 'Courgette', cursive;
        color: #A50249; }
    nav .wrapper .siteNav-right,
    nav .wrapper .siteNav-left {
      width: 40%; }
    nav .wrapper .siteNav-right {
      display: flex;
      justify-content: flex-end; }
    nav .wrapper #searchButton {
      position: relative; }
    nav .wrapper #searchArea {
      width: 700px;
      height: 40px;
      display: none;
      position: absolute;
      right: 0;
      top: 33px; }
      nav .wrapper #searchArea input {
        width: 96%;
        padding: 2%;
        border: 0;
        box-shadow: 0 3px 1px #EE84B3;
        border-top: 0;
        font-size: 1.4em; }
        nav .wrapper #searchArea input::-webkit-input-placeholder {
          font-size: 1.2em; }
        nav .wrapper #searchArea input:-moz-placeholder {
          /* Firefox 18- */
          font-size: 1.2em; }
        nav .wrapper #searchArea input::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 1.2em; }
        nav .wrapper #searchArea input:-ms-input-placeholder {
          font-size: 1.2em; }
      nav .wrapper #searchArea #doSearch {
        display: none; }
  nav #userloginPhoto {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-size: cover; }

#carousel {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden; }
  #carousel #carouselWrapper {
    width: 500%;
    height: 97%;
    position: relative;
    overflow: hidden; }
  #carousel .eachCarousel {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    display: flex; }
    #carousel .eachCarousel .wrapper {
      justify-content: center;
      position: relative;
      z-index: 1;
      height: 90%;
      display: flex;
      width: 85%; }
      #carousel .eachCarousel .wrapper > div {
        height: 96%;
        margin: 0 2%; }
      #carousel .eachCarousel .wrapper .carouselLeft {
        width: 21%; }
        #carousel .eachCarousel .wrapper .carouselLeft .headerProjectCover {
          width: 100%;
          height: 90%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url(/Talaka/resources/img/deku.jpg); }
        #carousel .eachCarousel .wrapper .carouselLeft a {
          display: flex;
          width: 100%;
          justify-content: center;
          height: 6%;
          padding: 2.5% 0;
          background-color: #DC367F;
          vertical-align: middle;
          font-size: 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          color: #fff; }
          #carousel .eachCarousel .wrapper .carouselLeft a i {
            display: inline-block;
            margin: 3px 5px 0 5px;
            font-size: 12px; }
      #carousel .eachCarousel .wrapper .carouselRight {
        width: 69%;
        height: 88%;
        padding: 1%;
        color: #fff;
        position: relative;
        text-shadow: 0 0 3px #000; }
        #carousel .eachCarousel .wrapper .carouselRight h1 {
          font-size: 4rem;
          font-weight: 600; }
        #carousel .eachCarousel .wrapper .carouselRight .authors {
          position: absolute;
          bottom: 0; }
        #carousel .eachCarousel .wrapper .carouselRight h2 {
          font-size: 2rem;
          margin: 10px 0 0 5px;
          font-weight: 100;
          display: block; }
        #carousel .eachCarousel .wrapper .carouselRight ul {
          display: flex; }
        #carousel .eachCarousel .wrapper .carouselRight li {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 2px solid #fff;
          cursor: pointer;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          flex-direction: row;
          margin: 10px 10px 10px 0px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url(/Talaka/resources/img/deku.jpg);
          position: relative; }
          #carousel .eachCarousel .wrapper .carouselRight li:hover {
            border: 2px solid #7EB5D8; }
          #carousel .eachCarousel .wrapper .carouselRight li i {
            position: absolute;
            right: -2px;
            bottom: -2px;
            font-size: 1.4em;
            color: yellow; }
        #carousel .eachCarousel .wrapper .carouselRight .projectInfos {
          width: 100%;
          height: 50%; }
          #carousel .eachCarousel .wrapper .carouselRight .projectInfos p {
            font-size: 1.8em; }
  #carousel .eachCarouselCover {
    background-color: rgba(104, 58, 183, 0.8);
    filter: blur(3px) brightness(40%);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Talaka/resources/img/deku.jpg); }
  #carousel #carouselPosition {
    width: 100%;
    height: 2%;
    position: relative;
    bottom: 0;
    display: flex; }
    #carousel #carouselPosition ul {
      display: block;
      width: 100%;
      background-color: #EE84B3;
      display: flex; }
    #carousel #carouselPosition li {
      height: 85%;
      width: 20%;
      position: relative;
      cursor: pointer;
      border: 1px solid #fff; }
    #carousel #carouselPosition .selected {
      background-color: #683AB7; }
  #carousel #carouselTimer {
    width: 100%;
    height: 1%;
    position: relative;
    bottom: 0; }
    #carousel #carouselTimer #progress {
      position: relative;
      width: 10%;
      height: 100%;
      background-color: #7EB5D8;
      -webkit-animation: progress 5s infinite;
      -moz-animation: progress 5s infinite;
      -ms-animation: progress 5s infinite;
      -o-animation: progress 5s infinite;
      animation: progress 5s infinite; }
  #carousel #helloWrapper {
    background-image: url(/Talaka/resources/img/memphis-colorful.png);
    filter: brightness(105%); }
    #carousel #helloWrapper #logo {
      width: 100px;
      height: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(/Talaka/resources/img/talaka_logo.png);
      background-size: 100px;
      margin: auto;
      -webkit-animation: appears 2s;
      -moz-animation: appears 2s;
      -ms-animation: appears 2s;
      -o-animation: appears 2s;
      animation: appears 2s; }
    #carousel #helloWrapper .wrapper {
      height: 220px; }
    #carousel #helloWrapper *:not(ul):not(a):not(p) {
      display: block;
      text-align: center;
      font-size: 1.5em;
      color: #A50249; }
    #carousel #helloWrapper p {
      font-size: 2.4em;
      font-weight: 100;
      margin: 10px 0 20px 0;
      -webkit-animation: appears 2s;
      -moz-animation: appears 2s;
      -ms-animation: appears 2s;
      -o-animation: appears 2s;
      animation: appears 2s; }
    #carousel #helloWrapper ul {
      margin: 20px auto;
      display: table;
      animation-delay: 1s;
      -webkit-animation: appears 2s;
      -moz-animation: appears 2s;
      -ms-animation: appears 2s;
      -o-animation: appears 2s;
      animation: appears 2s; }
    #carousel #helloWrapper li {
      float: left;
      padding: 10px 15px;
      border: 2px solid #A50249;
      margin: 0 30px;
      cursor: pointer;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #carousel #helloWrapper li:hover {
        border-color: #DC367F; }
      #carousel #helloWrapper li:first-child {
        margin-left: 0;
        background-color: #A50249;
        color: #fff; }
      #carousel #helloWrapper li:last-child {
        margin-right: 0;
        background-color: #fff;
        color: #A50249; }

section {
  width: 100%;
  padding: 1% 0; }
  section .wrapper {
    margin: 0 auto; }

#indexProjects ul:first-child {
  display: flex;
  padding: 20px 0;
  position: relative;
  width: 98%; }
  #indexProjects ul:first-child > li {
    -webkit-animation: appears 2s;
    -moz-animation: appears 2s;
    -ms-animation: appears 2s;
    -o-animation: appears 2s;
    animation: appears 2s;
    padding: 10px;
    font-size: 1.6rem;
    color: #094F7D;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    flex-wrap: nowrap; }
    #indexProjects ul:first-child > li:hover:not(:last-child) {
      border-bottom: 2px solid #7EB5D8; }
    #indexProjects ul:first-child > li:last-child {
      right: 0%;
      top: 50%;
      margin-top: -12.5px;
      position: absolute;
      border: 2px solid #A50249;
      padding: 0 10px 5px 10px;
      color: #A50249;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #indexProjects ul:first-child > li:last-child:hover {
        background-color: #A50249;
        color: #fff; }
      #indexProjects ul:first-child > li:last-child a {
        text-decoration: none;
        margin: 0;
        font-size: 1.2rem;
        color: inherit; }
#indexProjects i {
  display: inline-block;
  margin: 0 5px 0 0; }
#indexProjects #listProjects {
  -webkit-animation: appears 2s;
  -moz-animation: appears 2s;
  -ms-animation: appears 2s;
  -o-animation: appears 2s;
  animation: appears 2s;
  display: flex;
  padding: 0px;
  flex-flow: row wrap;
  justify-content: space-between; }

#howItWorks {
  border-top: 3px solid #3A0E85;
  position: relative;
  background-color: #683AB7;
  padding: 70px 0; }
  #howItWorks h1,
  #howItWorks i {
    color: #fff;
    font-size: 4.5em;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 10px auto; }
  #howItWorks h1 * {
    font-size: inherit;
    font-weight: 600; }
  #howItWorks .worksArea {
    width: 96%;
    padding: 20px 2%;
    margin: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    #howItWorks .worksArea .lozenge {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #fff;
      -webkit-animation: lozenge 3s infinite alternate;
      -moz-animation: lozenge 3s infinite alternate;
      -ms-animation: lozenge 3s infinite alternate;
      -o-animation: lozenge 3s infinite alternate;
      animation: lozenge 3s infinite alternate;
      margin-left: 60px;
      margin-top: 25px; }
    #howItWorks .worksArea .worksInfo {
      width: calc(90% - 350px);
      padding: 5% 5%;
      color: #fff; }
    #howItWorks .worksArea .lozenge + div p {
      font-size: 2em;
      text-indent: 30px; }

#categories {
  border-top: 3px solid #094F7D;
  padding: 50px 0;
  background-color: #7EB5D8; }
  #categories #catInfo {
    width: 80%;
    height: auto;
    display: table;
    margin: 50px auto; }
  #categories .catCover {
    width: 220px;
    height: 220px;
    float: left;
    border-bottom: 3px solid #683AB7;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Talaka/resources/img/deku.jpg); }
  #categories p {
    display: block;
    width: calc(92% - 220px);
    text-align: center;
    font-size: 1.6em;
    float: left;
    padding: 1% 4%;
    margin: 10px auto;
    color: #333; }
  #categories a {
    padding: 10px 20px;
    border: 3px solid #094F7D;
    transition: .3s;
    text-decoration: none;
    font-size: 1.6em;
    display: inline-block;
    clear: both; }
    #categories a:hover {
      color: #fff;
      background-color: #094F7D; }
  #categories i {
    font-size: 5em;
    margin: 15px;
    color: #7EB5D8; }
  #categories .wrapper {
    padding: 4% 2%;
    text-align: center;
    background-color: #fff; }
  #categories #catIcons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 20px auto; }
    #categories #catIcons li {
      background-color: #7EB5D8;
      border: 3px solid #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px;
      transition: .3s;
      cursor: pointer; }
      #categories #catIcons li:hover {
        border-color: #7EB5D8; }
      #categories #catIcons li:active {
        border-color: #094F7D; }
  #categories h1 {
    font-weight: 500;
    font-size: 3.5em;
    color: #094F7D; }
  #categories h2 {
    font-weight: 400;
    font-size: 2.8em;
    color: #666; }
  #categories h3 {
    font-weight: 400;
    font-size: 2.6em; }

footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #A50249;
  color: #fff; }
  footer .wrapper {
    padding: 0;
    width: 90%;
    padding: 5px 0; }
    footer .wrapper ul {
      display: flex;
      justify-content: space-between; }
    footer .wrapper li {
      display: inline-flex;
      font-size: 1.4em;
      padding: .5% 5%;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: .3s;
      text-align: center; }
      footer .wrapper li:hover {
        border-bottom-color: #fff; }
  footer .footer {
    clear: both;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0 0 0;
    text-align: center; }
    footer .footer p {
      font-size: 1.4em;
      padding: 5px 0; }

#loginInitial {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background-image: url(/Talaka/resources/img/memphis-colorful.png); }
  #loginInitial a, #loginInitial input[type="submit"] {
    display: inline-block;
    padding: 5px 15px;
    margin: 15px 20px 0 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 2px solid #A50249; }
  #loginInitial h1 {
    font-size: 3.5em;
    font-weight: 500;
    color: #DC367F; }
  #loginInitial h2 {
    font-size: 2.4em;
    margin: 5px 0 10px 0;
    font-weight: 400;
    color: #A50249; }
  #loginInitial p {
    font-size: 1.4em; }
  #loginInitial > div {
    padding: 0 5%;
    margin: auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; }
  #loginInitial #register {
    width: 65%; }
    #loginInitial #register .wrapper {
      background-color: rgba(255, 255, 255, 0.6); }
  #loginInitial #register > div > a:nth-child(4) {
    background-color: #A50249; }
  #loginInitial #register > div > a:nth-child(5) {
    color: #A50249; }
  #loginInitial #login {
    width: 35%;
    background-color: #A50249; }
    #loginInitial #login input:not([type="submit"]) {
      width: 92%;
      padding: 4%;
      margin: 3% 0;
      font-size: 1.4em;
      border: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
      color: #fff; }
      #loginInitial #login input:not([type="submit"])::-webkit-input-placeholder {
        color: #fff; }
      #loginInitial #login input:not([type="submit"]):-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      #loginInitial #login input:not([type="submit"])::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      #loginInitial #login input:not([type="submit"]):-ms-input-placeholder {
        color: #fff; }
    #loginInitial #login h1 {
      color: #fff; }
  #loginInitial #login > div > form > input[type="submit"] {
    background-color: #fff;
    color: #A50249; }
  #loginInitial #login > div > form > a:nth-child(4) {
    color: #fff; }
  #loginInitial .wrapper {
    vertical-align: middle;
    padding: 5%; }

#bgtypeRegister {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  align-items: center; }
  #bgtypeRegister #typeRegister {
    width: 50%;
    background-color: #fff;
    height: 50vh;
    margin: auto;
    text-align: center;
    border: 1px solid #EE84B3;
    border-radius: .5em; }
    #bgtypeRegister #typeRegister h2 {
      font-size: 2em;
      padding: 20px 0;
      font-weight: 400; }
    #bgtypeRegister #typeRegister ul {
      display: flex;
      justify-content: center; }
      #bgtypeRegister #typeRegister ul a {
        display: inline-block;
        width: 40%; }
    #bgtypeRegister #typeRegister li {
      width: 90%;
      height: 200px;
      border: 1px solid #d2d2d2;
      margin: 2% 5%;
      transition: .3s;
      background-size: 120px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      position: relative; }
      #bgtypeRegister #typeRegister li:hover {
        border-color: #7EB5D8; }
    #bgtypeRegister #typeRegister li:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
      font-size: 1.6em;
      padding: 5px 0; }
    #bgtypeRegister #typeRegister #person {
      background-image: url(/Talaka/resources/img/person.png); }
      #bgtypeRegister #typeRegister #person:after {
        content: "Pessoa Física"; }
    #bgtypeRegister #typeRegister #team {
      background-image: url(/Talaka/resources/img/team.png); }
      #bgtypeRegister #typeRegister #team:after {
        content: "Pessoa Jurídica"; }

#signup .wrapper {
  border: 1px solid pink;
  width: 70%;
  border-bottom: 0; }
  #signup .wrapper ul {
    display: flex;
    justify-content: space-between; }
    #signup .wrapper ul li {
      padding: 1% 2%;
      border: 1px solid #ddd;
      width: 30%;
      text-align: center;
      font-size: 1.6em; }
      #signup .wrapper ul li i {
        display: block;
        margin: 5px auto; }
      #signup .wrapper ul li .dadospessoais {
        color: #327DAD; }
      #signup .wrapper ul li .dadosfinanciamento {
        color: green; }
      #signup .wrapper ul li .dadosartista {
        color: #DC367F; }
#signup h1 {
  font-size: 2.4em;
  padding: 20px 20px 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #A50249;
  border-bottom: 2px solid #EE84B3; }
  #signup h1 i {
    display: inline-block;
    margin: 0 10px 0 0; }
#signup h2 {
  font-size: 2.2em;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  color: #A50249; }
#signup p {
  font-size: 1.6em;
  text-align: center; }
#signup form {
  width: 70%;
  margin: auto; }
#signup label {
  margin: 0;
  font-size: 1.6em;
  display: block;
  padding: 5px 0;
  margin: 15px 0 0 0;
  color: #A50249; }
  #signup label i {
    display: inline-block;
    margin: 0 5px;
    color: #094F7D; }
#signup input:not([type='submit']), #signup textarea#bio {
  width: 98%;
  padding: 1%;
  font-size: 1.5em;
  border: 1px solid #DC367F;
  color: #A50249; }
  #signup input:not([type='submit'])::-webkit-input-placeholder, #signup textarea#bio::-webkit-input-placeholder {
    color: #A50249; }
  #signup input:not([type='submit']):-moz-placeholder, #signup textarea#bio:-moz-placeholder {
    /* Firefox 18- */
    color: #A50249; }
  #signup input:not([type='submit'])::-moz-placeholder, #signup textarea#bio::-moz-placeholder {
    /* Firefox 19+ */
    color: #A50249; }
  #signup input:not([type='submit']):-ms-input-placeholder, #signup textarea#bio:-ms-input-placeholder {
    color: #A50249; }
#signup .inputQuestion {
  width: 98%;
  padding: 1%;
  font-size: 1.3em;
  color: #777;
  display: none;
  border: 1px solid #7EB5D8; }
#signup textarea#bio {
  min-height: 100px;
  resize: vertical; }
#signup input[type='submit'], #signup a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 10px auto;
  border: 2px solid #A50249;
  background-color: #fff;
  color: #A50249; }
#signup input[type='submit'] {
  background-color: #A50249;
  color: #fff; }
#signup a {
  width: 45px; }

.eachProject {
  height: 475px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 31%;
  margin: 0 2% 2% 0;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .eachProject:hover {
    border-color: #327DAD;
    box-shadow: 0 0 3px #327DAD; }

.eachProjectCover {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/Talaka/resources/img/deku.jpg);
  position: relative;
  display: flex;
  margin-bottom: 25px; }
  .eachProjectCover .eachProjectOwner {
    position: absolute;
    background-color: #fff;
    bottom: -25px;
    left: 50%;
    width: 60px;
    margin-left: -35px;
    height: 60px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Talaka/resources/img/deku.jpg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .eachProjectCover .eachProjectOwner:hover {
      border-color: #7EB5D8; }

.eachProjectInfo {
  height: calc(48% - 25px);
  padding: 1% 3%;
  position: relative; }
  .eachProjectInfo a {
    text-decoration: none;
    color: #094F7D;
    font-size: 1.2rem;
    display: block; }
    .eachProjectInfo a i {
      font-size: 1.1em; }
  .eachProjectInfo h2 {
    font-size: 1.6rem;
    color: #333;
    margin: 5px 0; }
  .eachProjectInfo p {
    font-size: 1.3rem; }
  .eachProjectInfo .goal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    padding: 2%;
    color: #094F7D; }
    .eachProjectInfo .goal span {
      font-weight: 600;
      font-size: inherit; }
    .eachProjectInfo .goal p:first-child {
      font-size: 1.4rem; }
    .eachProjectInfo .goal li {
      float: left; }
      .eachProjectInfo .goal li:last-child {
        float: right; }
  .eachProjectInfo .progressbar {
    position: relative;
    width: calc(100% - 2px);
    height: 10px;
    margin: 1.5% 0;
    border: 1px solid #DC367F; }
    .eachProjectInfo .progressbar .value {
      width: 40%;
      max-width: 100%;
      min-width: 0%;
      position: absolute;
      height: 10px;
      background-color: #DC367F; }

#exploreHeader {
  width: 100%;
  background-image: url(/Talaka/resources/img/memphis-colorful.png);
  filter: brightness(105%);
  padding: 5% 0;
  text-align: center; }
  #exploreHeader h1 {
    font-size: 4em;
    color: #A50249;
    font-weight: 600; }
  #exploreHeader h2 {
    font-size: 3em;
    font-weight: lighter; }

section#results {
  width: 96%;
  padding: 2%; }
  section#results .wrapper {
    display: flex; }
  section#results h3 {
    font-size: 1.6em;
    color: #666;
    font-weight: 400;
    text-transform: uppercase; }
  section#results aside {
    width: 15%; }
    section#results aside .filterSection {
      padding: 1% 0;
      margin: 1% 0 30px 0; }
      section#results aside .filterSection li {
        margin: 1% 0;
        padding: 2% 0;
        font-size: 1.4em;
        cursor: pointer; }
  section#results .resultsProject {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  section#results .sortBy {
    flex-wrap: none;
    width: 96%;
    display: block;
    padding: 0 2% 2% 2%;
    text-align: right;
    font-size: 1.4em; }
    section#results .sortBy select {
      font-size: 1em;
      padding: 0 1%;
      border: 1px solid #EE84B3; }
      section#results .sortBy select option {
        font-size: 1em; }
    section#results .sortBy i {
      font-size: 1.3em;
      color: #A50249;
      padding: 0 1%;
      display: inline-block;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      section#results .sortBy i:hover {
        color: #EE84B3; }
  section#results #moreProjects {
    margin: .5% auto;
    background-color: #094F7D;
    padding: 15px 20px;
    font-size: 1.6em;
    color: #fff;
    width: 160px;
    font-style: none; }

.projectsList {
  display: flex;
  width: 32%;
  margin: 1% 0.5% 2% 0.5%; }
  .projectsList .eachProject {
    width: 100%; }

.projectsGrill {
  width: 100%;
  margin: 1% 0; }
  .projectsGrill .eachProject {
    width: 100%;
    height: 250px; }
    .projectsGrill .eachProject .eachProjectCover {
      width: 30%;
      height: 100%;
      border: 0;
      float: left;
      border-radius: 5px 0px 0px 5px; }
    .projectsGrill .eachProject .eachProjectInfo {
      float: left;
      width: 60%; }
      .projectsGrill .eachProject .eachProjectInfo .eachProjectTag {
        position: absolute;
        height: 250px;
        font-size: 1.6em; }
      .projectsGrill .eachProject .eachProjectInfo .goal {
        position: absolute;
        bottom: 0; }

/*# sourceMappingURL=style.css.map */
