// CORES _ GLOBAL
// Rosa -> design e destaque
$mainRosa: #DC367F;
$mainDark: #A50249;
$mainLighter: #EE84B3;
// Roxo - botões e bordas
$mainRoxo: #683AB7;
$purpleDark: #3A0E85;
$purpleLighter: #A484DD;
// Azul - links;
$mainAzul: #327DAD;
$blueDark: #094F7D;
$blueLighter: #7EB5D8;
// WRAPPER 
$wrapper: 1150px;
// Mixins e Keyframes(para usar, include)
@mixin bp-large {
    @media only screen and (max-width: 60em) {
        @content;
    }
}
@mixin bp-medium {
    @media only screen and (max-width: 40em) {
        @content;
    }
}
@mixin bp-small {
    @media only screen and (max-width: 30em) {
        @content;
    }
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
@mixin background($arg) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url($arg);
}
@mixin value($per) {
    width: $per;
    max-width: 100%;
    min-width: 0%;
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin filter($args...) {
    -webkit-filter: $args;
    -moz-filter: $args;
    -ms-filter: $args;
    -o-filter: $args;
    filter: $args;
}
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}
@include keyframes(progress) {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@include keyframes(lozenge) {
    0% {
        @include transform(rotate(45deg));
    }
    100% {
        @include transform(rotate(230deg));
    }
}
@include keyframes(appears) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
