* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    font-family: 'Dosis', sans-serif;
    font-size: 10px;
}
::selection{
    background-color:$mainDark;
    color:#fff;
}
span, b, i {
    font-size: inherit;
    font-weight: 600
}
body{
    transition:.3s
}


