* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  font-family: 'Dosis', sans-serif;
  font-size: 10px; }

#acessibility {
  display: flex;
  width: 100%;
  padding: 5px 0;
  background-color: #7EB5D8; }
  #acessibility ul {
    margin: auto; }
  #acessibility li {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 100, 0.2);
    font-size: 1.2rem;
    transition: .2s; }
    #acessibility li:hover {
      text-decoration: underline; }
    #acessibility li:last-child {
      border: 0; }

.wrapper {
  width: 1150px;
  margin: auto; }

nav {
  width: 100%;
  padding: 5px 0;
  background: #DC367F;
  display: flex; }

#carousel {
  width: 100%;
  height: 65vh;
  margin-bottom: 30px;
  position: relative;
  background-color: #683AB7; }
  #carousel #carouselWrapper {
    width: 100%;
    height: 99%;
    position: relative;
    background-color: purple; }
  #carousel .eachCarousel {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    display: flex; }
    #carousel .eachCarousel .wrapper {
      justify-content: center;
      position: relative;
      z-index: 1;
      height: 90%;
      display: flex;
      width: 85%;
      padding: 1%; }
      #carousel .eachCarousel .wrapper > div {
        height: 96%;
        margin: 0 2%; }
      #carousel .eachCarousel .wrapper .carouselLeft {
        width: 21%; }
        #carousel .eachCarousel .wrapper .carouselLeft .headerProjectCover {
          width: 100%;
          height: 90%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../deku.jpg); }
        #carousel .eachCarousel .wrapper .carouselLeft a {
          display: flex;
          width: 100%;
          justify-content: center;
          height: 6%;
          padding: 2.5% 0;
          background-color: #DC367F;
          vertical-align: middle;
          font-size: 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          color: #fff; }
          #carousel .eachCarousel .wrapper .carouselLeft a i {
            display: inline-block;
            margin: 3px 5px 0 5px;
            font-size: 12px; }
      #carousel .eachCarousel .wrapper .carouselRight {
        width: 69%;
        height: 88%;
        border: 1px solid #fff;
        padding: 1%;
        color: #fff; }
        #carousel .eachCarousel .wrapper .carouselRight h1 {
          font-size: 4rem;
          font-weight: 600; }
        #carousel .eachCarousel .wrapper .carouselRight ul {
          display: flex; }
        #carousel .eachCarousel .wrapper .carouselRight li {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 2px solid #fff;
          cursor: pointer;
          transition: .3s;
          flex-direction: row;
          margin: 10px 10px 10px 0px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../deku.jpg);
          position: relative; }
          #carousel .eachCarousel .wrapper .carouselRight li:hover {
            border: 2px solid #7EB5D8; }
          #carousel .eachCarousel .wrapper .carouselRight li i {
            position: absolute;
            right: -2px;
            bottom: -2px;
            font-size: 1.4rem;
            color: #094F7D; }
  #carousel .eachCarouselCover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(104, 58, 183, 0.8);
    filter: blur(5px) brightness(60%);
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../deku.jpg); }
  #carousel #carouselTimer {
    width: 100%;
    height: 1%;
    position: relative;
    bottom: 0; }
    #carousel #carouselTimer #progress {
      position: relative;
      width: 10%;
      height: 100%;
      background-color: #7EB5D8;
      animation: progress infinite 10s; }

@keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
