@charset "UTF-8";
@import "reset";
// CORES _ GLOBAL
// Rosa -> design e destaque
$mainRosa: #DC367F;
$mainDark: #A50249;
$mainLighter: #EE84B3;
// Roxo - botões e bordas
$mainRoxo: #683AB7;
$purpleDark: #3A0E85;
$purpleLighter: #A484DD;
// Azul - links;
$mainAzul: #327DAD;
$blueDark: #094F7D;
$blueLighter: #7EB5D8;
// WRAPPER 
$wrapper: 1150px;
// Mixins e Keyframes(para usar, include)
@mixin bp-large {
    @media only screen and (max-width: 60em) {
        @content;
    }
}
@mixin bp-medium {
    @media only screen and (max-width: 40em) {
        @content;
    }
}
@mixin bp-small {
    @media only screen and (max-width: 30em) {
        @content;
    }
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
@mixin background($arg) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url($arg);
}
@include keyframes(progress) {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin filter($args...) {
    -webkit-filter: $args;
    -moz-filter: $args;
    -ms-filter: $args;
    -o-filter: $args;
    filter: $args;
}
// LAYOUT
// - ACESSIBILIDADE
#acessibility {
    display: flex;
    width: 100%;
    padding: 5px 0;
    background-color: $blueLighter;
    i {
        display: inline-block;
        margin: 0 10px
    }
    ul {
        margin: auto;
    }
    li {
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 0 20px;
        border-right: 1px solid rgba(0, 0, 100, .2);
        font-size: 1rem;
        @include transition(.2s);
        &:hover {
            text-decoration: underline;
        }
        &:last-child {
            border: 0;
        }
    }
}
// - WRAPPER {
.wrapper {
    width: $wrapper;
    margin: auto;
}
// MAIN
main {
    width: 100%;
    display: table;
}
// - MENU
nav {
    width: 100%;
    padding: 5px 0;
    background: $mainRosa;
    display: flex;
}
// CARROSSEL
#carousel {
    width: 100%;
    height: 65vh;
    position: relative;
    overflow: hidden;
    #carouselWrapper {
        width: 500%;
        height: 97%;
        position: relative;
        overflow: hidden;
        //margin-left: -100%;
    }
    .eachCarousel {
        width: 20%;
        height: 100%;
        position: relative;
        float: left;
        display: flex;
        .wrapper {
            justify-content: center;
            position: relative;
            z-index: 1;
            height: 90%;
            display: flex;
            width: 85%;
            padding: 1%;
            > div {
                height: 96%;
                margin: 0 2%;
            }
            .carouselLeft {
                width: 21%;
                .headerProjectCover {
                    width: 100%;
                    height: 90%;
                    @include background('../deku.jpg');
                }
                a {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    height: 6%;
                    padding: 2.5% 0;
                    background-color: $mainRosa;
                    vertical-align: middle;
                    font-size: 1.5rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #fff;
                    i {
                        display: inline-block;
                        margin: 3px 5px 0 5px;
                        font-size: 12px
                    }
                }
            }
            .carouselRight {
                width: 69%;
                height: 88%;
                padding: 1%;
                color: #fff;
                position: relative;
                h1 {
                    font-size: 4rem;
                    font-weight: 600;
                }
                .authors {
                    position: absolute;
                    bottom: 0;
                }
                h2 {
                    font-size: 2rem;
                    margin: 10px 0 0 5px;
                    font-weight: 100;
                    display: block;
                }
                ul {
                    display: flex;
                }
                li {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    cursor: pointer;
                    @include transition(.3s);
                    flex-direction: row;
                    margin: 10px 10px 10px 0px;
                    @include background('../deku.jpg');
                    position: relative;
                    &:hover {
                        border: 2px solid $blueLighter;
                    }
                    i {
                        position: absolute;
                        right: -2px;
                        bottom: -2px;
                        font-size: 1.4rem;
                        color: yellow;
                    }
                }
                .projectInfos {
                    width: 100%;
                    height: 50%;
                    background-color: rgba(255, 255, 255, .3);
                    @include filter(blur(5px))
                }
            }
        }
    }
    .eachCarouselCover {
        background-color: rgba(104, 58, 183, .8);
        filter: blur(3px) brightness(40%);
        width: 100%;
        height: 100%;
        position: absolute;
        @include background('../deku.jpg');
    }
    #carouselPosition {
        width: 100%;
        height: 2%;
        position: relative;
        bottom: 0;
        display: flex;
        ul {
            display: block;
            width: 100%;
            background-color: $mainLighter;
            display: flex
        }
        li {
            height: 85%;
            width: 20%;
            position: relative;
            cursor: pointer;
            border: 1px solid #fff;
            &:nth-child(3) {
                background-color: $mainRoxo;
            }
        }
    }
    #carouselTimer {
        width: 100%;
        height: 1%;
        position: relative;
        bottom: 0;
        #progress {
            position: relative;
            width: 10%;
            height: 100%;
            background-color: $blueLighter;
            @include animation('progress 5s infinite');
        }
    }
    #helloWrapper {
        background-image: url(../resources/img/memphis-colorful.png);
        filter: brightness(105%);
        #logo {
            width: 100px;
            height: 100px;
            @include background('../resources/img/talaka_logo.png');
            background-size: 100px;
            margin: auto;
        }
        .wrapper {
            height: 220px;
        }
        *:not(ul) {
            display: block;
            text-align: center;
            font-size: 1.5em;
            color: $mainDark;
        }
        p {
            font-size: 2em;
            font-weight: 100;
            margin: 20px 0
        }
        ul {
            margin: 20px auto;
            display: table;
        }
        li {
            float: left;
            padding: 10px 15px;
            border: 2px solid $mainDark;
            margin: 0 30px;
            cursor: pointer;
            @include transition(.2s);
            &:hover {
                border-color: $mainRosa;
            }
            &:first-child {
                margin-left: 0;
                background-color: $mainDark;
                color: #fff;
            }
            &:last-child {
                margin-right: 0;
                background-color: #fff;
            }
        }
    }
}
section {
    width: 100%;
    padding: 1% 0;
    .wrapper {
        margin: 0 auto;
    }
}
#indexProjects {
    ul {
        display: flex;
        padding: 20px 0;
        position: relative;
    }
    li {
        padding: 10px;
        font-size: 1.6rem;
        color: $blueDark;
        cursor: pointer;
        border-bottom: 2px solid #fff;
        @include transition(.3s);
        flex-wrap: nowrap;
        &:hover:not(:last-child) {
            border-bottom: 2px solid $blueLighter;
        }
        &:last-child {
            right: 0;
            position: absolute;
            border: 2px solid $mainDark;
            padding: 0 10px 5px 10px;
            color: $mainDark;
            @include transition(.2s);
            &:hover {
                background-color: $mainDark;
                color: #fff;
            }
            a {
                text-decoration: none;
                margin: 0;
                font-size: 1.2rem;
                color: inherit;
            }
        }
    }
    i {
        display: inline-block;
        margin: 0 5px 0 0;
    }
    #listProjects {
        display: flex;
        padding: 0 1%;
        flex-flow: row wrap;
        justify-content: space-between;
        .eachProject {
            height: 450px;
            width: 31%;
            margin: 0 0 3% 0%;
            border: 1px solid #ddd;
            border-radius: 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0
            }
        }
        .eachProjectCover {
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid #eee;
            width: 100%;
            height: 50%;
            @include background('../deku.jpg');
            position: relative;
            display: flex;
            margin-bottom: 25px;
            .eachProjectOwner {
                position: absolute;
                bottom: -25px;
                left: 50%;
                width: 60px;
                margin-left: -35px;
                height: 60px;
                border: 5px solid #fff;
                border-radius: 50%;
                @include background('../deku.jpg');
                @include transition(.3s);
                cursor: pointer;
                &:hover{
                    border-color: $blueLighter;
                }
            }
        }
        .eachProjectInfo{
            height: calc(48% - 25px);
            padding:1% 2%;
            a {
                text-decoration: none;
                color:$blueDark;
                font-size: 1.2rem;
                display: block;
                i{
                    font-size: 1.1em;
                }
            }
            h2 {
                font-size: 1.6rem;
                color:#333;
                margin:5px 0;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
}
#howItWorks{
    background-image: url("../resources/img/memphis-colorful.png");
    position: relative;
    #howItCover{
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color:rgba(50, 125, 173,.7);
    }
    .wrapper{
        background-color:red;
        z-index: 10
    }
}
footer{
    width: 100%;
    padding:20px 0;
}