<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="web-sass/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <title>Fazer login</title>
</head>

<body>

    <div id="bgtypeRegister">
        <div id="typeRegister">
            <h2>Escolha o tipo de conta</h2>
            <ul>
                <a href="signup.html"><li id="person"></li></a>
                <a href="#"><li id="team"></li></a>
            </ul>
        </div>
    </div>

    <div id="loginInitial">
        <div id="register">
            <div class="wrapper">
                <h1>Bem-vindo!</h1>
                <h2>Crie uma conta Talaka aqui.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum consectetur nulla, sed iaculis ex molestie sed. Fusce mattis nunc nec porttitor varius. Sed tincidunt finibus feugiat. Aenean nibh urna, tempor vel luctus id, dignissim at sem. Pellentesque tincidunt, justo ac pharetra tempor, lacus sapien pretium turpis, ut pellentesque augue felis sed erat. Cras quis tortor id justo dictum suscipit sed eget ante. Nam lacinia sapien id tellus pharetra vestibulum.
                </p>
                <a href="#" id="doRegister">Registrar</a>
                <a href="index.html">Voltar</a>
            </div>
        </div>
        <div id="login">
            <div class="wrapper">
                <h1>Fazer login</h1>
                <form action="login" method="post">
                    <input type="email" placeholder="Seu email ou login" required>
                    <input type="password" placeholder="Sua senha" required>
                    <input type="submit" value="Login">
                    <a href="#">Esqueceu a senha?</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
